@import "tailwindcss";
@import "./fonts.css";

@theme {
  --theme-font-family: "Atkinson Hyperlegible Next", sans-serif;
  --color-theme: #161616;
  --color-theme-background: #ffffff;
  --color-primary: #00605f;
  --color-secondary: #ab2020;
}

html.dark {
  --color-theme: #dbdbdb;
  --color-theme-background: #161616;
  --color-primary: #01b792;
  --color-secondary: #ff7a7a;
}

html.cream {
  --color-theme-background: #f0e6d2;
  --color-theme: #2c2c2c;
  --color-primary: #00605f;
  --color-secondary: #ab2020;
}
