@import "tailwindcss";
@import "./fonts.css";

@theme {
  --theme-font-family: "Atkinson Hyperlegible Next", sans-serif;
  --color-primary-base: #1745ab;
  --color-secondary-base: #00605f;
  --color-text-base: #161616;
  --color-background-base: #ffffff;

  --color-primary: var(--color-primary-base);
  --color-secondary: var(--color-secondary-base);
  --color-theme: var(--color-text-base);
  --color-theme-background: var(--color-background-base);
}
